/*COLORS VARIABLES*/
/*GRID*/
/*FONT SIZE*/
* {
  margin: 0;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: inherit;
  /*use of inheritance is much better, this makes sure border-box is inherited throughtout the page*/ }

html {
  /* for easy calculations when implementing REM to elements
    this translate to 10px since setting default pixel is never good as it is fixed.
    we want end-users to be able to increase or decrease measurements for readability
    1 rem = 10px; 10/16px = 62.5% */
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  padding: 3rem;
  /* this padding doesn't get inherited throughout */
  background-image: linear-gradient(to right bottom, #ff3366, rgba(186, 38, 93, 0.9));
  background-size: cover;
  height: 100vh;
  /*testing purpose only*/ }
